# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:

- Popular Languages used by Data Scientists
- Popular Data Science Libraries 
- Arithmetic Expression Examples

## Some of the popular programming languages used by Data Scientists are:
1. Python
2. R
3. SQL

## Some of the commonly used data science libraries are:
1. NumPy
2. Pandas
3. Matplotlib

| Data Science Tools |
| ----- | 
| Juptyer Notebook | 
| Apache Spark | 
| Apache Hadoop |

### Below are a few examples of arithmetic expression examples:

#### This is a simple arithmetic experession to multiply and add integers.

In [3]:
(3*4)+5

17

#### This will convert 200 minutes into hours by dividing by 60 minutes

In [4]:
200/60

3.3333333333333335

## Notebook by Jeet Shah